<form action="/names" method= "post">
  <div>
      <input type="text" name="Player1_name" />
      <input type="text" name="Player2_name" />
      <input type="submit" value = "Submit" />
  </div>
</form>
